.header {
    margin: 20px 50px;
    padding: 0 20px;
    min-height: 75px;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
    flex-wrap: nowrap;
}

.content {
    background: #fff;
    border: 2px solid #444;
    flex-grow: 2;
    flex: 0 0 200px;
    padding: 10px;
    overflow-wrap: break-word;
    margin: 25px 50px;
}