html, body {
    background-color: rgb(76, 115, 235);
    margin: 0;
    padding: 0;
}

.header {
    margin: 20px 50px;
    padding: 0 20px;
    min-height: 75px;
    border: 2px solid rgba(5, 90, 160, 0.596);
    border-radius: 25px;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
    flex-wrap: nowrap;
}

.content {
    background: #fff;
    border: 2px solid #444;
    flex-grow: 2;
    flex: 0 0 200px;
    padding: 10px;
    overflow-wrap: break-word;
    margin: 25px 50px;
    border-radius: 10px;
}

.teammembers {
    display: flex;
    justify-content: center;
}
.teampictures {
    display: flex;
    justify-content: space-around;
}